body {
    background-color: rgb(243, 237, 237);
}

h1 {
    font-size: 40px;
}

p {
    font-size: 18px;
}

div {
    background-color: rgb(201, 187, 187);
    border: 1px solid rgb(158, 145, 145);
    padding: 15px;
    margin-bottom: 10px;
}
